.service-page {
    padding: 2rem;
}

.service-logo {
    margin: 2rem auto;
    border-radius: 50%;
    display: block;
    width: 15rem;
}

.service-page>p {
    text-align: justify;
    line-height: 1.5;
}

.service-page h3 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 5rem 0 2rem 0;
}

.services {
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    gap: 2rem;
}

.service-icon {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 .5rem rgba(200, 200, 200, 0.5);
    width: 5rem;
    height: 5rem;
    margin: 1rem auto;
    display: grid;
    place-content: center;
}

.service-icon i {
    color: rgb(0, 157, 255);
    font-size: 2rem;
}

.services p {
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
}

.service-page ul {
    list-style: disc;
    margin-left: 2rem;
}

.service-page ul li {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: 100;
}